body{
    /* background-color: black; */
    margin: 6px;
}

h1{
    /* color: white; */
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    /* animation: color-change 5s linear 2s infinite alternate-reverse; */
}
.navbar{
    display:flex;
    width: 100%;
    /* background-color: rgb(137, 137, 137); */
    text-align: right;
    a button{
        border-radius: 20px;
        margin-right:10px;
        margin-left:0px;
        cursor: pointer;
        /* animation: color-change 5s linear 2s infinite alternate; */
        transition: all 0.5s ease-in-out;
    }
    
    /* position: fixed; */
}
.navbar a button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
@keyframes color-change {
    0% { background-color: rgb(0, 0, 0); color: white;}
    25% { background-color: rgb(56, 56, 56);color: white; }
    50% { background-color: rgb(132, 132, 132); color: white;}
    75% { background-color: rgb(195, 195, 195); }
    100% { background-color: rgb(255, 255, 255); }
    
}
.login-form{
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 20px;    
    border: 1px solid rgb(142, 142, 142);
    border-radius: 10px;
    background-color: rgb(116, 115, 115);
    color: white;
    text-align: center;
    margin-top: 20px;
    input{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 200px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: 0.5s ease-in-out ;
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: block;
        transition:text-decoration 0.5s ;

    }
}
.login-form form input:hover{
    width: 250px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.login-form a:hover{
    text-decoration: underline;
    /* background-color: rgb(0, 0, 0); */
    color: rgb(13, 0, 255);
}