{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Leaderboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "leaderboard.css" %}">
  <style>
    
  </style>
</head>
<body>

  <div class="leaderboard-container">
    <div class="leaderboard-header">
      <h2>🏆 {{ quiz_name }} Quiz Leaderboard</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>🏅 Rank</th>
          <th>👤 Username</th>
          <th>📊 Score</th>
          <th>⏱️ Duration</th>
          <th>🕒 Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in leaderboard %}
        <tr>
          <td class="rank-badge">{{ forloop.counter }}</td>
          <td>{{ entry.user_name }} </td>
          <td>{{ entry.score }}</td>
          <td>{{ entry.time_taken }}s</td>
          <td class="timestamp">{{ entry.timestamp|date:"M d, Y H:i A" }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No results yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div style="text-align: center; margin: 30px 0;" id="analysisBtn">
      <a href="{% url 'analysis' quiz_name %}" class="analysis-button">See Full Analysis</a>
    </div>
  </div>

<script>
  const url = window.location.href.split('/');
  if (url[url.length - 1] == "analysis") {
    document.getElementById("analysisBtn").style.display = 'none';
  }
</script>

</body>
</html>
