{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <title>Login_Page</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class ="navbar">
        <a href="{% url 'signup' %}"><button>Sign Up</button></a>
        <a href="{% url 'home' %}"><button>Home</button></a>
        <!-- Navbar ke andar add kar -->
<select id="themeSwitcher" style="padding: 5px; border-radius: 5px;">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
  
    </div>
    <div class="login-form">
        <div class="login-form-header">
            <h2>User Login</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" required ><br>
            <input type="password" placeholder="Password" name="password" required><br>
            <input type="submit" value="Login" ><br>
           
        </form>

        <span><a href="{% url 'forgetpass' %}">Forget Password</a></`span><br>
        <a href="{% url 'signup' %}">Sign Up</a></div>
        <div class="login-form-footer">
            <p>Welcome to the Quiz App! Please login to continue.</p>
        </div>
    </div>
</body>
<script>
    const themeSwitcher = document.getElementById('themeSwitcher');
    const savedTheme = localStorage.getItem('theme') || 'light';
  
    document.body.classList.add(`${savedTheme}-theme`);
    themeSwitcher.value = savedTheme;
  
    themeSwitcher.addEventListener('change', function() {
      document.body.classList.remove('light-theme', 'dark-theme');
      document.body.classList.add(`${this.value}-theme`);
      localStorage.setItem('theme', this.value);
    });
  </script>
  
</html>