* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    background-image: image-set(url('../media/bg.jpg'));
    background-repeat: no-repeat;
    background-size:cover;
}

section {
    min-height: 100vh;
    min-width: 100%;
    position: relative;
}

.quiz-box, .result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 64vh;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 12px;
    padding: .75rem 1rem;
    background-color: rgba(238, 238, 238, 0.752);
}

.question-box {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.option {
    font-size: 1.15rem;
    box-shadow: 0 0 4px #9a9a9a;
    border-radius: 8px;
    padding: .84rem .5rem;
    width: 90%;
    text-align: center;
    transition: .2s;
}
.option:hover {
    box-shadow: 0 0 8px rgba(0, 169, 0, 0.675);
    transition: .5s;
    transform: scale(1.025);
}


.btn {
    width: 7.3rem;
    height: 2.55rem;
    font: 1.1rem sans-serif;
    border: 0;
    border-radius: 1rem;
    border-bottom: .36rem solid black;
    padding-top: .16rem;
    margin: 2rem;
}

.btn:active {
    border-bottom: 0;
    transition: .1s;
}

.next-btn {
    color: white;
    background-color: blue;
}
.next-btn:hover {
    background-color: rgb(40, 40, 255);
}

.enlarge {
    animation: enlarge .25s linear;
}

@keyframes enlarge {
    from {
        width: 20em;
        height: 12em;
    }
    to {
        width: 64vh;
        height: 75vh;
    }
}

@keyframes fade {
    
}