
{% extends "base/layout.html" %}

{% load static %}

{% block title %}Feedback Form{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static "feedback.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

{% endblock %}



{% block content %}

<section class="feedback-body">
  <form class="feedback-form" id="feedbackForm">
    <h2>Feedback</h2>
  
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" value="{{ request.user.username }}" disabled />
    </div>
  
    <div class="form-group">
      <label for="experience">How was your experience?</label>
      <textarea id="experience" placeholder="Tell us how it went..."></textarea>
    </div>
  
    <div class="form-group">
      <label for="improve">What can we improve?</label>
      <textarea id="improve" placeholder="We value your suggestions..."></textarea>
    </div>
  
    <div class="form-group">
      <label for="rating">Rating (1 to 5)</label>
      <select id="rating" required>
        <option value="">Select Rating</option>
        <option value="1">1 - Poor</option>
        <option value="2">2 - Fair</option>
        <option value="3">3 - Good</option>
        <option value="4">4 - Very Good</option>
        <option value="5">5 - Excellent</option>
      </select>
  
    </div>
  
    <button type="submit" class="submit-btn">Submit Feedback</button>
  </form>
</section>



<script>
  const form = document.getElementById("feedbackForm");
  const SCRIPT = "https://script.google.com/macros/s/AKfycbzrrMWKqHu3dL4SYLLf6WTx7hnMQt3_Gmhf-Lx7qTHzBhOAzUhUtcMrkAnmvfG2gq2_/exec";

  form.addEventListener("submit", async function (e) {
    e.preventDefault();

  const name = document.getElementById('name').value; 
  const experience = document.getElementById('experience').value;
  const improve = document.getElementById('improve').value;
  const rating = document.getElementById('rating').value;

  // loading bar to btn
  $(".submit-btn").html("<div class='loader'></div>")

  const queryString = `?name=${encodeURIComponent(name)}&experience=${encodeURIComponent(experience)}&improve=${encodeURIComponent(improve)}&rating=${encodeURIComponent(rating)}`;

  //send get req
  fetch(`https://script.google.com/macros/s/AKfycbzg5hFvKSlP6T6Y75E-pHyO-7CxLHHMyv0WvLYzEePMdo-U-F2q8e0Tvc9XiKNxU9oV/exec${queryString}`, {
      method: "GET",
  })
  .then(response => response.text())
  .then(data => {
      console.log("Success:", data);
      $(".submit-btn").html("<div class='circle-check'><i class='fas fa-check'></i></div> &nbsp;Feedback Submited");
      $(".submit-btn").css("background-color", "#4CAF50")
      $(".circle-check").css("animation", "spin .5s ease-out");
  })
  .catch((error) => {
      console.error("Error:", error);
      alert('There was an issue with the submission.');
  });
  });
</script>

{% endblock %}
